// Styles that are directly tied to the site footer/navigation should go in
// this file.

.contact-marketing {
  background-color: #000;
  color: #fff;
  padding: 48px 0;
  text-align: center;

  h4 {
    font-family: $font-family-archer;
    font-size: 25px;
    margin-bottom: 16px;
    margin-top: 0;
  }

  p {
    color: $ucf-gold;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
  }

  address {
    font-size: 14px;
    font-weight: 200;
    margin-bottom: 0;
  }

  a {
    color: #fff;
  }
}

.main-site-footer {
  background: #3e3e3e;
  padding: 60px 0;
  text-align: center;

  .main-site-title {
    color: #fff;
    font-family: $font-family-sans-serif;
    font-size: 22px;
    font-weight: 200;
    letter-spacing: 3px;
    margin-bottom: 12px;
    text-transform: uppercase;
  }

  .site-footer-menu {
    li {
      border-right: 1px solid #fff;
      padding-right: 10px;

      a {
        color: #fff;
        font-size: 12px;
        font-weight: 200;
      }

      &:last-child {
        border-right: 0;
      }
    }
  }

  .social {
    margin-bottom: 24px;

    .social-icon {
      background: #fff;
      border-radius: 50%;
      display: inline-block;
      height: 32px;
      margin: 0 5px;
      padding-top: 10px;
      width: 32px;

      &:hover {
        background: #d4d4d4;
      }
    }

    span {
      color: #3e3e3e;
      font-size: 24px;
      line-height: 0;
      padding: 6px;

      &.fa-facebook {
        font-size: 20px;
        padding: 6px 8px 0;
      }

      &.fa-twitter {
        font-size: 20px;
      }

      &.fa-google-plus {
        font-size: 20px;
        padding: 0 2px 0 4px;
      }

      &.fa-linkedin {
        font-size: 20px;
        padding: 4px 8px;
      }
    }
  }

}
