// Styles that are directly tied to the site footer/navigation should go in
// this file.

.footer-margin {
  margin-bottom: 125px;
}

.contact-marketing {
  background-color: #000;
  color: #fff;
  padding: 48px 0;
  text-align: center;

  h4 {
    font-family: $font-family-archer;
    font-size: 25px;
    margin-bottom: 16px;
    margin-top: 0;
  }

  p {
    color: $ucf-gold;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
  }

  address {
    font-size: 14px;
    font-weight: 200;
    margin-bottom: 0;
  }

  a {
    color: #fff;
  }
}
