// Styles that are directly tied to the site header/navigation should go in
// this file.

.header-image-container {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 250px;

  h2 {
    color: #fff;
    font-size: 50px;
    font-weight: 400;
    line-height: 60px;
    margin: 0;
    padding: 90px 0;
    text-align: center;
    text-transform: uppercase;
  }
}

.nav-container {

  nav {
    border-bottom: 1px solid $ucf-gold;
    padding: 5px 0;
  }

  .nav>li>a,
  .nav .open a {
    background-color: transparent;
  }

  .menu-item {

    &.current-menu-item > a {
      color: #000;
      font-weight: 600;
    }

    &.current_page_item + a {
      color: #000;
      font-weight: 600;
    }

    a {
      color: #5c5c5c;
      font-size: 14px;
      font-weight: 400;
      letter-spacing: 2px;
      margin-right: 5px;
      text-transform: uppercase;

      @media (min-width: $screen-lg-min) {
        font-size: 16px;
        margin-right: 20px;
      }

      &:hover {
        color: #000;
      }
    }
  }

  .dropdown-menu {
    background-color: #f0f0f0;
    border: 0;
    border-radius: 0;
    box-shadow: none;
    padding: 15px;

    >li {
      border-bottom: 1px solid #aaa;
      margin: 0;

      &:last-child {
        border: 0;
      }

      >a {
        @include transition(.5s);
        font-size: 14px;
        margin: 0;
        padding: 12px 0;

        &:hover {
          background-color: #f0f0f0;
          color: #000;
        }
      }
    }
  }

  .dropdown-hover:hover .dropdown-menu {
    display: block;
  }

}
