// Styles that are directly tied to the site header/navigation should go in
// this file.

// Navbar header images
.header-image-container {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 250px;

  h2 {
    @include knockout();
    color: #fff;
    font-size: 50px;
    font-weight: 400;
    letter-spacing: 3px;
    line-height: 60px;
    margin: 0;
    padding: 90px 0;
    text-align: center;
    text-transform: uppercase;
  }
}

// Navbar
.nav-container {
  background-color: #fff;
  border-bottom: 1px solid $ucf-gold;
  transition: background-color .3s ease;

  .navbar-collapse {
    text-align: center;
  }

  .navbar-header {
    background-color: $ucf-gold;

    .navbar-toggle {
      border-color: #c90;

      &:hover {
        background-color: #c90;
      }

      .icon-bar {
        background-color: #000;
      }
    }
  }

  nav {

    .nav {

      @media (min-width: $screen-md-min) {
        &.navbar-nav {
          float: none;

          li {
            display: inline-block;
            float: none;
          }
        }
      }

      @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
        &>li>a {
          font-size: 10px;
          padding: 10px;
        }
      }

      @media (max-width: $screen-xs-max) {
        &.navbar-nav {

          li {
            text-align: left;
          }
        }
      }

      >li>a,
      .open a {
        background-color: transparent;
      }
    }
  }

  .navbar-title {
    float: left;
    font-family: $font-family-serif;
    font-size: 20px;
    padding: 11px 16px;
    position: relative;
  }

  .menu-item {

    &.current-menu-item > a {
      color: #000;
      font-weight: 600;
    }

    &.current_page_item + a {
      color: #000;
      font-weight: 600;
    }

    a {
      color: #5c5c5c;
      font-size: 12px;
      font-weight: 400;
      letter-spacing: 2px;
      text-transform: uppercase;

      @media (min-width: $screen-lg-min) {
        font-size: 14px;
      }

      &:hover {
        color: #000;
      }
    }
  }

  &.navbar-fixed-top {
    background-color: $ucf-gold;

    a {
      color: #000;
    }
  }

  // Dropdown Menu
  .dropdown-menu {
    background-color: #f0f0f0;
    border: 0;
    border-radius: 0;
    box-shadow: none;
    padding: 0 15px;

    @media (max-width: $screen-xs-max) {
      .menu-item {
        border: 0;

        a:hover {
          background-color: inherit;
        }
      }
    }

    >li {
      border-bottom: 1px solid #aaa;
      display: block !important;
      margin: 0;

      &:last-child {
        border: 0;
      }

      >a {
        @include transition(.5s);
        font-size: 12px;
        margin: 0;
        padding: 12px 0;

        &:hover {
          background-color: #f0f0f0;
          color: #000;
        }
      }
    }
  }

}
