// Custom variables:

$ucf-black: #000;
$ucf-gold: #ffc904;
$ucf-gold-light: #ffeeaf;
$ucf-gold-metalic: #cc9900;
$highlight-color: #21759b;
$error: #dd3d36;


// Bootstrap overrides:

$icon-font-path: '../fonts/bootstrap/';
$font-family-sans-serif: 'Gotham SSm A', 'Gotham SSm B', sans-serif !default;
$font-family-black: "Gotham SSm 8r", "Gotham SSm A", "Gotham SSm B", sans-serif;
$font-family-archer: "Archer 6r", "Archer A", "Archer B", serif;
